body {
    min-width: 240px;
    margin-top: 10px;
}

.anchor-bottom {
    margin-bottom: 0 !important;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  